body {
  font-family: Arial, sans-serif;
  background-image: url('images/sb.jpg');
  margin: 20px;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  background-color: yellow;
}

.fakt {
  margin-bottom: 20px;
  color:aqua;
}

.fakt h3 {
  margin-bottom: 10px;
  color: yellow;
}

.fakt p {
  margin-bottom: 5px;
  color:aqua;
}